ausschluesse:
  begriffe_billig:
  - günstigster
  - billigster
  - unter 5 euro
  - kostenlos
  - umsonst
  - geschenkt
  leistungen:
  - Fliesen legen
  - Fliesen verlegen
  - Fliesenleger
  - Estrich
  - Trockenbau
  - Dacharbeiten
  - Dachdecker
  - Elektroinstallation
  - Elektriker
  - Sanitär
  - Klempner
  - Heizung
  - Gartenbau
  - Landschaftsbau
  - Fenster einbauen
  - Rohbau
datenbank:
  cleanup_tage: 30
  pfad: se_handwerk.db
facebook:
  enabled: false
  gruppen_urls: []
firma:
  name: SE Handwerk
  region_schwerpunkt: Heilbronn
google:
  enabled: false
  max_results: 10
  site_filter:
  - nebenan.de
  - kleinanzeigen.de
  - myhammer.de
ki:
  bewertung:
    batch_groesse: 5
    max_tokens: 500
  enabled: true
  fallback_auf_regeln: true
  kosten_limit_tag_euro: 2.0
  max_anfragen_pro_minute: 20
  openai_modell: glm-5:cloud
  outreach:
    follow_up_nach_tagen: 3
    max_tokens: 800
    stil_pro_plattform: true
  preis_input_pro_million: 0.1
  preis_output_pro_million: 0.1
  strategie:
    auto_anwenden: true
    intervall: taeglich
  strategie_modell: glm-5:cloud
kleinanzeigen:
  basis_url: https://www.kleinanzeigen.de
  enabled: true
  radius_km: 100
markt:
  basis_url: https://www.markt.de
  enabled: true
  max_ergebnisse: 20
  radius_km: 100
myhammer:
  basis_url: https://www.myhammer.de
  enabled: false
nebenan:
  basis_url: https://www.nebenan.de
  enabled: true
  max_ergebnisse: 20
regionen:
  heilbronn:
    keywords:
    - Heilbronn
    - Neckarsulm
    - Weinsberg
    - Bad Friedrichshall
    - Lauffen
    - Brackenheim
    - Öhringen
    - Neuenstadt
    plz_prefixes:
    - '74'
    - '741'
    - '743'
    score: 30
  rest_bw:
    keywords:
    - Baden-Württemberg
    - BW
    plz_prefixes: []
    score: 10
  umkreis_100km:
    keywords:
    - Stuttgart
    - Ludwigsburg
    - Heidelberg
    - Mannheim
    - Schwäbisch Hall
    - Würzburg
    plz_prefixes:
    - '70'
    - '71'
    - '72'
    - '69'
    score: 20
scoring:
  gelb_min: 40
  gewichtung:
    leistung: 40
    qualitaet: 30
    region: 30
  gruen_min: 70
  rot_max: 39
scraper:
  intervall_minuten: 30
  max_ergebnisse_pro_suche: 20
  max_retries: 3
  request_delay_sekunden:
  - 2
  - 5
  timeout_sekunden: 30
suchbegriffe:
  boden:
  - Laminat verlegen
  - Vinyl verlegen
  - Klickvinyl
  - Vinylboden verlegen
  - Boden erneuern
  - Bodenleger gesucht
  - Wohnung renovieren Boden
  - Laminat legen
  - Bodenbelag verlegen
  - Sockelleisten montieren
  - Trittschalldämmung
  - alten Boden entfernen
  - Teppich entfernen
  ki_vorschlaege:
  - Parkett verlegen
  - Bodenbelag wechseln
  - Handwerker Heilbronn
  - Trockenbau
  - Fussboden verlegen
  - Bodenleger Heilbronn
  - Möbelmonteur Heilbronn
  - Wohnung fertig renovieren
  - Handwerker Boden legen
  - Schrank montieren
  - Bodenleger
  - Bodenarbeiten Heilbronn
  - Boden legen
  - Estricharbeiten
  - Bodenleger Heilbronn günstig
  - Fussboden verlegen Heilbronn
  - Boden renovieren Wohnung
  - Vinylboden verlegen Heilbronn
  - Möbelmontage Heilbronn
  - Bodenlegen Heilbronn
  - Möbel aufbauen
  - Neubau Boden
  - Wohnung fertig machen
  - Handwerker Boden
  - Boden sanieren
  - Möbel aufbauen Heilbronn
  - Wohnung renovieren Heilbronn
  - Estrich verlegen
  - Laminat verlegen Heilbronn
  - Bodenleger in Heilbronn
  - Estricharbeiten Heilbronn
  - Boden sanieren Kosten
  - Innenrenovierung Heilbronn
  - Bodenverlegung Heilbronn
  - Renovierungsservice Heilbronn
  - Wohnungsaufbereitung
  - Malerarbeiten Heilbronn
  - Fussbodenleger
  montage:
  - Möbel montieren
  - Möbelaufbau
  - IKEA Aufbau
  - IKEA Montage
  - Schrank aufbauen
  - Küche aufbauen
  - Möbelmontage
  - Homegym aufbauen
  - Fitnessgerät montieren
  - Power Rack aufbauen
  - Squat Rack montieren
  - Sportgerät Montage
  - Rack montieren
  uebergabe:
  - Wohnungsübergabe
  - Auszugsrenovierung
  - Wohnung renovieren Auszug
  - Renovierung vor Auszug
  - Übergaberenovierung
  - Wohnung streichen Übergabe
  - Kleinreparaturen Wohnung
  - Wohnung instand setzen
  - Vermieter Renovierung
  - Mietwohnung renovieren
suchgebiet:
  aktiv: true
  max_alter_stunden: 0
  radius_km: 100
  zentrum: Heilbronn
telegram:
  max_nachrichten_pro_stunde: 10
  tages_zusammenfassung_uhrzeit: '20:00'
